<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.avmishra.shoppinglistapp" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Shoppinglist</name>
  <description>
        Make your shopping list easy without paper and pen. No need to remember things when going to shopping. Just create Shopping and add items immediately when you remembered it. 
    </description>
  <author email="avmishra.org@gmail.com" href="http://www.avmishra.org">
      Shoppinglist Team
    </author>
  <content src="index.html"/>
  <icon src="www/img/icon.png" /> 
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>		
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>