<ion-view title="" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
	    <div class="card" ng-show="errorBlockShow" >
		    <div class="item item-text-wrap">
			    <ul>
			    	<ol class="errMsg" ng-repeat="err in errorMsg">{{err.msg}}</li>
			    </ul>
		    </div>
		</div>
    	<form name="verificationFrm" novalidate ng-submit="submit(verificationFrm)">
	        <div class="list">
	            <label class="item item-input item-stacked-label">
	                <span class="input-label">Please enter code sent on your email</span>
	                <input required type="text" placeholder="Please enter your code" id="code" name="code" ng-model="verifyForm.code">
	                <div class="error-container" ng-show="verificationFrm.code.$invalid && submitted">
	                    <small class="error" ng-show="verificationFrm.code.$error.required">
	                        Code is required.
	                    </small>
	                </div>
	            </label>
	            <div class="button-bar">
	                <button type="sumbit" class="button button-block button-balanced">Verify</button>
	            </div>
	            <br/>
	            <br/>
	            <br/>
	            <br/>
	            <button class="button button-full button-assertive" ng-click="differentUser()">
	            	Login as different user
		        </button>
	        </div>
        </form>
    </ion-content>

</ion-view>