<ion-view title="">
    <ion-content has-header="true" padding="true">
	    <div class="card" ng-show="errorBlockShow" >
		    <div class="item item-text-wrap">
			    <ul>
			    	<ol class="errMsg" ng-repeat="err in errorMsg">{{err.msg}}</li>
			    </ul>
		    </div>
		</div>
		<form name="codeFrm" novalidate ng-submit="sendForgotPassCode(codeFrm)" ng-show="sendCodeFrm">
	        <div class="list">
	            <label class="item item-input item-stacked-label">
	                <span class="input-label">Email</span>
	                <input required type="email" id="email" name="email" placeholder="Please enter your registered email" ng-model="forgot.email">
	                <div class="error-container" ng-show="codeFrm.email.$invalid && submitted">
	                    <small class="error" ng-show="codeFrm.email.$error.required">
	                        Email is required.
	                    </small>
	                    <small class="error" ng-show="codeFrm.email.$error.email">
	                        Invalid email
	                    </small>
	                </div>
	            </label>
	            <div class="button-bar">
	                <button type="submit" class="button button-block button-balanced">Sumbit</button>
	            </div>
	        </div>
        </form>
        
	    <form name="verificationFrm" novalidate ng-submit="submit(verificationFrm)" ng-show="sendPasswordFrm">
	        <div class="list">
	            <label class="item item-input item-stacked-label">
	                <span class="input-label">Please enter code sent on your email</span>
	                <input required type="text" placeholder="Please enter your code" id="code" name="code" ng-model="verifyForm.code">
	                <input type="hidden" name="email" ng-model="verifyForm.email" ng-model="verifyForm.email">
	                <div class="error-container" ng-show="verificationFrm.code.$invalid && submitted">
	                    <small class="error" ng-show="verificationFrm.code.$error.required">
	                        Code is required.
	                    </small>
	                </div>
	            </label>
	            <div class="button-bar">
	                <button type="sumbit" class="button button-block button-balanced">Verify</button>
	            </div>
	        </div>
	    </form>
    </ion-content>
</ion-view>