<ion-view title="" hide-back-button="true" hide-nav-bar="true">
	<ion-content has-header="true" padding="true">
		<ion-slide-box does-continue="true">
			<ion-slide>
				<div>
				    <div style="text-align:center;">
						<img width="95%" height="90%" src="img/help/listing.png" style="border:1px solid #021a40;">
				    </div>
				</div>
			</ion-slide>
			<ion-slide>
				<div>
				    <div style="text-align:center;">
						<img width="95%" height="90%" src="img/help/menu.png" style="border:1px solid #021a40;">
				    </div>
				</div>
			</ion-slide>
			<ion-slide>
				<div>
				    <div style="text-align:center;">
						<img width="95%" height="90%" src="img/help/edit_delete_shopping.png" style="border:1px solid #021a40;">
				    </div>
				</div>
			</ion-slide>
			<ion-slide>
			<div>
			    <div style="text-align:center;">
					<img width="95%" height="90%" src="img/help/items.png" style="border:1px solid #021a40;">
			    </div>
			</div>
			<div>
			    <div style="text-align:center;">
					<img width="95%" height="90%" src="img/help/add_item.png" style="border:1px solid #021a40;">
			    </div>
			</div>
		</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>